<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successful</title>

    <style>
        .font{
        text-align: center;
        font-weight: bolder;
        }
    </style>

</head>
<body>
    <div class="font">
        <h1>Login successful</h1>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTExZWJlNjExbDB4bnFhZnVoa2ZwY3hkcnY1cm93dXJqaGF3bm84dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ooyAxPcL4l2YbDvk4H/giphy.gif">
    </div>
</body>
</html>